* {
    padding: 0;
    margin: 0;
}

html {
    height:100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#banner {
    position:absolute;
    top: 15%;
    width: 100%;
    height: 500px;
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-bottom-text {
    background-color: rgb(30, 119, 30);
    margin-top: 100px;
    font-size: 5rem;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    outline: inherit;
}

.board-holder {
    background-color: lightblue;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

div[class^="cell"]{
    height: 48px;
    width: 48px;
    border: dotted;
    border-width: 1px;
    border-color: black;
}